body {
  height: 900px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  vertical-align: top;
}

.title {
  text-align: center;
}

.title-main {
  font-size: 70px;
  font-weight: bold;
}

.title-plus {
  font-size: 25px;
}

.desc {
  margin: 30px 0;

  font-size: 35px;
}

.ex {
  display: flex;
  align-items: center
}

.spheres, .spells {
  display: flex;
  justify-content: space-between;

  width: 300px;
}

.spells {
  width: 900px;
}

.spheres div, .spells div {
  background-blend-mode: multiply;
  width: 75px;
  height: 75px;
  /* background-color: red; */
  background-image: url(../img/0.webp);
  background-size: cover;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 150px;
}

input[type=text] {
  width: 100px;
  height: 30px;

  font-size: 20px;
  text-align: center;
  color: rgb(120, 60, 0);

  background-color: rgb(12, 33, 78);

  /* outline: 0; */
  border: 2px solid rgb(120, 60, 0);
  border-radius: 20px;
}

input[type=text]::placeholder {
  color: rgb(30, 100, 15);
}

input[type=text]:focus-visible {
  border-color: rgb(30, 100, 15);
  outline: none;
}

#result {
  text-align: center;
}

.res {
  text-align: center;
}

.res div {
  margin-top: 30px;
}