html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 800px;

  display: flex;
  justify-content: space-around;
  font-weight: 100;
  font-size: 30px;
  ;
  font-family: 'Karla';
  font-family: 'Courier New', Courier, monospace;
  /* background: url(../img/background.png); */
  background-color: rgb(8, 25, 63);
  background-size: 1440px;
  color: rgb(120, 60, 0);
}

a {
  color: rgb(64, 0, 128);
}

a:hover {
  color: rgb(120, 60, 0);
}

input[type=button] {
  width: 200px;
  height: 40px;

  margin-top: 10px;

  font-size: 20px;

  background-color: rgb(120, 60, 0);

  border-radius: 20px;
}

input[type=button]:hover {
  cursor: pointer;

  background-color: rgb(30, 100, 15);
}

input[type=button]:focus-visible {
  outline: none;
}
