html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-size: 20px;;
    font-family: 'Karla';
    background: url(../img/background.png);/*linear-gradient(to top, rgb(40,20,0), rgb(1,1,30));*/
    background-size: 1440px;
    color: rgb(120,60,0);
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: top;
}

.content {
    text-align: center;
    display: inline-block;
}

.title {
    font-size: 90px;
}

.opt {
    margin-top: 30px;
}

.opt li {
  font-size: 130%;
}

a {
  text-decoration: none;
}

.submenu {
  display: none;
}

li {
  list-style: none;
}

.opt li:hover .submenu {
  display: block;
}

a:hover {
  color: rgb(120,60,0);
}

.info {
  width: 700px;
}